@model IEnumerable<Post>

@{
    Layout = "_LayoutAdmin";
}

<a asp-controller="Blog" asp-action="CreatePost">Создать пост</a>

<div class="container">
    <h3>Список всех постов</h3>

    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Категория</th>
        </tr>
        @foreach (var post in @Model)
        {
            <tr>
                <td>@post.PostID</td>
                <td>@post.Title</td>
                <td>@post.Category</td>
                <td><a asp-controller="Blog" asp-action="EditPost" asp-route-postID="@post.PostID">Редактировать</a></td>
                <td><a asp-controller="Blog" asp-action="DeletePost" asp-route-postID="@post.PostID">Удалить</a></td>
            </tr>
        }
    </table>
</div>
 