@model Portfolio
@{
    ViewData["Title"] = Model.Title +"-создан в OlxaWeb";
}

<div class="container">
    <div class="portfolio-inner-wrap">
        <section class="heading">
            <a asp-controller="Portfolio" asp-action="PreviousNextSite" asp-route-siteId="@Model.PortfolioID" asp-route-next="false"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
            <div class="portfolio-inner-name">
                <div class="h2">@Model.Title</div>
                <a href="@Model.Link">@Model.Link</a>
            </div>
            <a asp-controller="Portfolio" asp-action="PreviousNextSite" asp-route-siteId="@Model.PortfolioID" asp-route-next="false"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
        </section>
        <section class="description">
            <div class="small-description">
                <p>
                    @Html.Raw(Model.ShortDescription)
                </p>                
            </div>
            <div class="review">
                <p>
                    @Model.Review
                </p>
            </div>
        </section>
        <section class="device">
            <div class="tabs">
                <input id="tab_1" type="radio" name="tab" checked="checked" />
                <input id="tab_2" type="radio" name="tab" />
                <input id="tab_3" type="radio" name="tab" />

                <div class="label-wrap" role="tablist">
                    <label for="tab_1" id="tab_l1" role="tab">
                        <i class="fa fa-television" aria-hidden="true"></i>
                        <!--<i class="fa fa-desktop" aria-hidden="true"></i>-->
                    </label>
                    <label for="tab_2" id="tab_l2" role="tab">
                        <i class="fa fa-tablet" aria-hidden="true"></i>
                    </label>
                    <label for="tab_3" id="tab_l3" role="tab">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </label>
                </div>

                <div class="tabs_cont">
                    <div id="tab_c1" role="tabpanel">
                        <div class="devieces-outer-wrap-monitor">
                            <div class="devices-inner-wrap-monitor">
                                <div id="first-page" class="monitor">
                                    <img src="~/Files/Portfolio/Image/Desktop/@Model.Image" alt="Сайт на компьютере">
                                </div>
                            </div>
                            <svg class="desktop" x="0" y="0" width="338px" height="97px" viewBox="0 0 338 97" enable-background="new 0 0 338 97">
                                <g>
                                    <path id="stand" fill="none" stroke="#000000" stroke-miterlimit="10" d="M69.517,0c0,22.638-0.481,48.059-19.075,62.039
                                C38.474,71.037,18.856,78.576,5.75,84.932c-4.512,2.188-5.667,4.252-5.014,7.129c0.79,3.477,4.636,3.896,10.369,3.896H169h157.895
                                c5.733,0,9.579-0.42,10.369-3.896c0.653-2.877-0.502-4.941-5.014-7.129c-13.106-6.355-32.724-13.895-44.692-22.893
                                C268.964,48.059,268.483,22.638,268.483,0" />
                                </g>
                            </svg>
                        </div>
                    </div>

                    <div id="tab_c2" role="tabpanel">

                        <div class="devieces-outer-wrap-tablet">
                            <div class="devices-inner-wrap-tablet">
                                <div id="second-page" class="tablet">
                                    <img src="~/Files/Portfolio/Image/Tablet/@Model.Image" alt="Сайт на планшете">
                                </div>
                            </div>
                            <svg class="ipad-b-cicrle" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 45 45" enable-background="new 0 0 45 45">
                                <path id="ipad-circle-big" fill="none" stroke="#000000" stroke-miterlimit="10" d="M22.5,0.5
                            c12.15,0,22,9.85,22,22s-9.85,22-22,22s-22-9.85-22-22S10.35,0.5,22.5,0.5z" />
                            </svg>
                            <svg class="ipad-sm-circle" x="0px" y="0px" width="9px" height="9px" viewBox="0 0 9 9" enable-background="new 0 0 9 9">
                                <path id="ipad-circle-sm" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M4.5,0.5
                            c2.209,0,4,1.791,4,4c0,2.21-1.791,4-4,4s-4-1.79-4-4C0.5,2.291,2.291,0.5,4.5,0.5z" />
                            </svg>
                        </div>

                    </div>

                    <div id="tab_c3" role="tabpanel">

                        <div class="devieces-outer-wrap-mobile">
                            <div class="devices-inner-wrap-mobile">
                                <div id="third-page" class="mobile">
                                    <img src="~/Files/Portfolio/Image/Mobile/@Model.Image" alt="Сайт на мобильном">
                                </div>
                            </div>
                            <svg class="iphone-b-circle"x="0px" y="0px"width="49px" height="49px" viewBox="0 0 49 49" enable-background="new 0 0 49 49">
                            <path id="iphone-circle-big" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M24.5,0.5
                             c13.255,0,24,10.745,24,24s-10.745,24-24,24c-13.254,0-24-10.745-24-24S11.246,0.5,24.5,0.5z" />
                        </svg>

                            <svg class="iphone-sm-circle" x="0px" y="0px"width="13px" height="13px" viewBox="0 0 13 13" enable-background="new 0 0 13 13">
                            <path id="iphone-circle-sm" fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-miterlimit="10" d="M6.5,0.5
                            c3.314,0,6,2.687,6,6c0,3.314-2.686,6-6,6c-3.313,0-6-2.686-6-6C0.5,3.187,3.187,0.5,6.5,0.5z" />
                        </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="description-more">
            <p>
                @Model.Description
            </p>
        </section>
    </div>
</div>



@await Component.InvokeAsync("OrderForm")

