<header>
    <div class="@(ViewBag.IndexNavigation==true ? "" : "header")">

        <div class="nav-toggle"><span></span></div> <!--для мобильных-->
        @*<div class="toolbar container">
                    <a asp-action="Register" asp-controller="Account">Зарегистрируйся</a>
                    <a asp-action="Login" asp-controller="Account"class="btn">Вход</a>
            </div>*@

    </div>

    @*<div class="@(ViewBag.IndexNavigation==true ? "index-navigation" : "navigation")">*@
    <div class="navigation-sm">
        <nav id="index-navigation" class="container" role="navigation">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/2017-06-05_22-10-40.png" width="100" height="30"></a>
                <a href="#" class="menu-trigger"><i class="fa fa-list" aria-hidden="true"></i></a>
            </div>
            @*<a href="#" class="menu-trigger"><i class="fa fa-list" aria-hidden="true"></i></a>*@
            <ul class="main-menu">
                <li class="main-menu__item">
                <a asp-controller="Portfolio" asp-action="All" class="link @(ViewBag.SelectedMenu == "PortfolioAll" ? "active":"")">Портфолио</a>
                </li>
                <li class="main-menu__item">
                    <a asp-controller="Home" asp-action="Price" class="link @(ViewBag.SelectedMenu == "HomePrice" ? "active":"")">Сайты</a>
                    <div class="submenu">
                        @*<div class="info-item-header">
                                <h3>
                                    <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
                                    Наши предложения
                                </h3>
                                <ul>
                                    <li class="submenu__item"><a asp-controller="Product" asp-action="AllProducts">Готовые решения</a></li>
                                    <li class="submenu__item"><a asp-controller="Web_sites" asp-action="Creation">Создание сайта</a></li>
                                    <li class="submenu__item"><a asp-controller="Web_sites" asp-action="Develop">Разработка сайта</a></li>
                                </ul>
                            </div>*@
                        <div class="info-item-header">
                            @*<h3>
                                    <span><i class="fa fa-object-group" aria-hidden="true"></i></span>
                                    Типы сайтов
                                </h3>*@
                            <ul>
                                <li class="submenu__item"><a  asp-controller="Web_sites" asp-action="Promosite">Сайт-визитка</a></li>
                                <li class="submenu__item"><a  asp-controller="Web_sites" asp-action="Landing">Landing Page</a></li>
                                <li class="submenu__item"><a  asp-controller="Web_sites" asp-action="Corporate">Корпоративный</a></li>
                                <li class="submenu__item"><a  asp-controller="Web_sites" asp-action="Shop">Интернет магазин</a></li>
                                <li class="submenu__item"><a  asp-controller="Web_sites" asp-action="Information">Информационный</a></li>
                            </ul>
                        </div>

                    </div>
                    @*<div class="content">
                            <img src="~/images/landing/post_prev_01.jpg" alt="" />
                        </div>*@
                </li>
                <li class="main-menu__item">
                <a asp-controller="Service" asp-action="AllService" class="link @(ViewBag.SelectedMenu == "ServiceAllService" ? "active":"")">Услуги / Цены</a>
                </li>
                <li class="main-menu__item">
                    <a  asp-controller="Home" asp-action="About" class="link @(ViewBag.SelectedMenu == "HomeAbout" ? "active":"")">О нас</a>
                </li>
            </ul>
        </nav>
    </div>
    @*<div class="container">
            <div class="inner">
                <div class="title">
                    <h1>Сайт визитка</h1>
                </div>
                <div class="breadcrumbs">
                    <a href="#">Цены</a> <span class="delimiter"><i class="fa fa-arrow-right"></i></span> <span>Сайт-визитка</span>
                </div>
            </div>
        </div>*@
</header>
