@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Landing page в OlxaWeb";
    ViewData["Description"] = "Предлагаем услуги по созданию и разработке Landing Page сайта с индивидуальным дизайном под ключ, так же выможете купить уже готовый сайт. В стоимость создания входит адаптивный дизайн, настройка CMS, базовое наполнение, SEO оптимизация.";
    ViewBag.SelectedMenu = "HomePrice";
    ViewBag.PortfolioExample = "Примеры Landing Page";
}

<main class="landing-wrapper">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>
    <section class="landing-description">
        <div class="presentation presentation-landing">

            <div class="isometric-wrapper">
                <div class="floor isometric landing">
                    <div class="appBar">
                        <i class="material-icons md-light md-24" id="drawerOpener">Меню</i>
                    </div>
                    <div class="content">
                        <div class="card">
                            <div class="card-inner-block1">
                                <div class="image">
                                </div>
                                <div class="info-wrap">

                                    <div class="button batton-landing1">
                                        @*<p>заказать</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <!--  <div class="card-inner-block2">
                              <div class="column-left">
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                              </div>
                              <div class="column-right">
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                              </div>
                            </div> -->
                        </div>
                        <div class="card"></div>
                        <div class="card">
                            <div class="form-inner-card-wrapper">
                                <div class="inputs-wrapper">
                                    <div class="input"></div>
                                    <div class="input"></div>
                                </div>
                                <div class="buttons-form">
                                    <div class="button right">
                                        @*<p>Заказать</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description description-landing">
                <div class="description-inner-text-group">
                    <h1>Landing Page</h1>
                    <p>
                        Как правило это одна интернет страница, созданная для конкретного товара или
                        услуги побуждающая к действию целевую аудиторию (покупка или подписка).
                        Состоит из блоков, каждый из которых выполняет конкретную задачу.
                    </p>
                    @*<p class="ul-title">Наиболее используемые модули:</p>
                    <ul>
                        <li>Описание</li>
                        <li>Галерея</li>
                        <li>Тарифы</li>
                        <li>Частые вопросы</li>
                        <li>Форма заказа/подписки</li>
                    </ul>*@
                </div>
            </div>

        </div>
    </section>

    <section class="tabs-all" role="tab">
        <input id="tab__1" type="radio" name="tabs" checked="checked" />
        <input id="tab__2" type="radio" name="tabs" checked="checked" />
        <input id="tab__3" type="radio" name="tabs" />

        <div class="label-wrapper">
            <label for="tab__1" id="tab__l1">Готовые решения</label>
            <label for="tab__2" id="tab__l2">Создание сайта</label>
            <label for="tab__3" id="tab__l3">Разработка сайта</label>
        </div>

        <div class="tabs_content">
            <div id="tab__c1">
                <div class="tab-inner-content">
                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div>@await Component.InvokeAsync("ProductCategory", new { category = "Landing" })</div>
                    </div>
                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Домен на 1 год</li>
                                                <li>Хостинг на 1 год</li>
                                                <li>Форма обратной связи</li>
                                                <li>Обратный звонок</li>
                                                <li>Админка</li>
                                                <li>
                                                    Дизайн
                                                    <span>Выбор из стандартного набора блоков</span>
                                                </li>
                                                <li>
                                                    Количество блоков
                                                    <span>До 5-ти блоков</span>
                                                </li>
                                                <li>Базовая SEO оптимизация</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Галерея</li>
                                                <li>Блок новостей</li>
                                                <li>Блок отзывов</li>
                                                <li>Блог</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsTemplatePartialView")
                </div>
            </div> @*tab__c1*@
            <div id="tab__c2">
                <div class="tab-inner-content">
                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>

                                </div>
                                <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                            </div>
                        </div>
                    </div>

                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Домен на 1 год</li>
                                                <li>Хостинг на 1 год</li>
                                                <li>Форма обратной связи</li>
                                                <li>Обратный звонок</li>
                                                <li>Админка</li>
                                                <li>
                                                    Дизайн
                                                    <span>Адаптируется под заказчика в рамках стандартной сетки</span>
                                                </li>
                                                <li>Базовая SEO оптимизация</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Галерея</li>
                                                <li>Блок новостей</li>
                                                <li>Блок отзывов</li>
                                                <li>Блог</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                    
                       
                    
                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsCreatePartialView")
                </div>
            </div> @*tab__c2*@
            <div id="tab__c3">
                <div class="tab-inner-content">
                    <div class="container">
                        <div class="title-description">
                            <div class="content-item">
                                <p>
                                    длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                    линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                    линныйлинный линный линныйлинныйлинный
                                </p>
                            </div>
                            <div>@await Component.InvokeAsync("PriceTimeDemo")</div>
                        </div>
                    </div> 
                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsDevelopPartialView")
                </div>
            </div> @*tab__c3*@
        </div>
    </section>

    

    <section class="landing-example">
        <div class="example-wrap">
            @await Component.InvokeAsync("ExamplesSites", new { category = "Landing" })
        </div>
    </section>

    <section class="landing-form">
        @await Component.InvokeAsync("OrderForm")
    </section>
    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</main>

