@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Создание сайта визитки - OlxaWeb";
    ViewData["Description"] = "Предлагаем услуги по созданию и разработке сайта визитки с индивидуальным дизайном под ключ, так же выможете купить уже готовый сайт. В стоимость создания входит адаптивный дизайн, настройка CMS, базовое наполнение, SEO оптимизация.";
    ViewBag.PortfolioExample = "Примеры сайтов визиток";
    ViewBag.SelectedMenu = "HomePrice";
}


<div class="promo-site-wrapper">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>
    <section class="content">
        <div class="container">
            <div class="presentation presentation-promo">
                <div class="isometric-wrapper">
                    <div class="floor isometric visit">
                        <div class="appBar visit-menu">
                            <i class="material-icons md-light md-24" id="drawerOpener"></i>
                        </div>
                        <div class="content">
                            <div class="img-info-card-wrap">
                                <div class="card card-product"></div>
                                <div class="card card-product"></div>
                            </div>
                            <div class="card card-form">
                                <div class="form-inner-card-wrapper">
                                    @*<div class="inputs-wrapper">
                                    <div class="input"></div>
                                    <div class="input"></div>
                                </div>*@
                                    <div class="buttons-form">
                                        <div class="button right">
                                            @*<p>отправить</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="description description-promo">
                    <div class="description-inner">
                        <div class="description-inner-text-group">
                            <h1>Сайт визитка</h1>
                            <p>
                                Содержит всю необходимую информацию о вас или вашей фирме,
                                как правило состоит из одной или нескольких страниц.
                                Имеет форму обратной связи и схему проезда, но при необходимости базовый функционал
                                можно расширить, например, добавить калькулятор, галерею, новости и пр.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>


    <section class="tabs-all" role="tab">
        <input id="tab__1" type="radio" name="tabs" @(ViewBag.selectedTab == "template" ? "checked='checked'" : "") />
        <input id="tab__2" type="radio" name="tabs" @(ViewBag.selectedTab == "create" ? "checked='checked'" : "") />
        <input id="tab__3" type="radio" name="tabs" @(ViewBag.selectedTab == "dev" ? "checked='checked'" : "") />

        <div class="label-wrapper">
            <label for="tab__1" id="tab__l1">Готовые решения</label>
            <label for="tab__2" id="tab__l2">Создание сайта</label>
            <label for="tab__3" id="tab__l3">Разработка сайта</label>
        </div>

        <div class="tabs_content">
            <div id="tab__c1">
                <div class="tab-inner-content">
                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div>@await Component.InvokeAsync("ProductCategory", new { category = "Визитка" })</div>
                    </div>
                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Домен на 1 год</li>
                                                <li>Хостинг на 1 год</li>
                                                <li>Форма обратной связи</li>
                                                <li>Обратный звонок</li>
                                                <li>Админка</li>
                                                <li>
                                                    Дизайн(настройка)
                                                    <span>
                                                        Адаптируется под заказчика в рамках стандартной сетки
                                                        или разрабатывается с нуля
                                                    </span>
                                                </li>
                                                <li>Базовая SEO оптимизация</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Галерея</li>
                                                <li>Блок новостей</li>
                                                <li>Блок отзывов</li>
                                                <li>Блог</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsTemplatePartialView")
                </div>
            </div> @*tab__c1*@
            <div id="tab__c2">
                <div class="tab-inner-content">

                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>

                                </div>
                                <div class="description-price">@await Component.InvokeAsync("PriceTimeDemo")</div>
                            </div>
                        </div>
                    </div>
                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Домен на 1 год</li>
                                                <li>Хостинг на 1 год</li>
                                                <li>Форма обратной связи</li>
                                                <li>Обратный звонок</li>
                                                <li>Админка</li>
                                                <li>
                                                    Дизайн
                                                    <span>Адаптируется под заказчика в рамках стандартной сетки</span>
                                                </li>
                                                <li>Базовая SEO оптимизация</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Галерея</li>
                                                <li>Блок новостей</li>
                                                <li>Блок отзывов</li>
                                                <li>Блог</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsCreatePartialView")
                </div>
            </div> @*tab__c2*@
            <div id="tab__c3">
                <div class="tab-inner-content">
                    <div class="container">
                        <div class="title-description">
                            <div class="content-item">
                                <p>
                                    длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                    линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                    линныйлинный линный линныйлинныйлинный
                                </p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="steps-create-wrapper">
                        @Html.Partial("_StepsDevelopPartialView")
                    </div>
                </div> @*tab__c3*@
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("ExamplesSites", new { category = "Визитка" })
    @await Component.InvokeAsync("OrderForm")

    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</div>
