@model Service

@{
    Layout = "_LayoutLibrary";
    ViewData["Title"] = "Создание интернет-магазина - OlxaWeb";
    ViewData["Description"] = "Предлагаем услуги по созданию и разработке интернет магазина с индивидуальным дизайном под ключ, так же выможете купить уже готовый сайт. В стоимость создания входит адаптивный дизайн, настройка CMS, базовое наполнение, SEO оптимизация.";
    ViewBag.PortfolioExample = "Примеры интернет магазинов";
    ViewBag.SelectedMenu = "HomePrice";
}

<div class="shop-wrap">
    <section class="header">
        @Html.Partial("_HeaderPartialView")
    </section>
    <section class="shop-description-wrap">
        <div class="container">
            <div class="presentation presentation-shop">
                <div class="isometric-wrapper">
                    <div class="floor isometric shop">
                        <div class="shop-admin" id="adminOpenen">
                            <p class="md-light md-24"></p>
                        </div>
                        <div class="appBar menu-buy">
                            <div class="buy button-buy" id="drawerOpener">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="content">
                            <div class="card bl-content"></div>
                            <div class="card-shop-wrapper">
                                <div class="card card-product"></div>
                                <div class="card card-product"></div>
                                <div class="card card-product"></div>
                            </div>
                            <div class="card-shop-wrapper">
                                <div class="card card-product"></div>
                                <div class="card card-product"></div>
                                <div class="card card-product"></div>
                            </div>
                        </div>
                        @*<div class="fab dialogOpener toasted"></div>*@
                        <div class="dialogContainer hidden" id="dialog">
                            <div class="dialog"></div>
                        </div>
                        <div class="drawerContainer hidden" id="drawer">
                            <div class="drawer">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="adminContainer hidden" id="admin">
                            <div class="admin">
                                <div class="card-admin-wrap">
                                    <div class="card">
                                        <img src="" alt="">
                                    </div>
                                    <div class="card">
                                        <img src="" alt="">
                                    </div>
                                    <div class="card"></div>
                                </div>
                                <div class="card-admin-wrap">
                                    <div class="card">
                                        <img src="" alt="">
                                    </div>
                                    <div class="card">
                                        <img src="" alt="">
                                    </div>
                                    <div class="card"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description description-shop">
                    <div class="description-inner-text-group">
                        <h1>Интернет магазин</h1>
                        <p>
                            Позволяет принимать заказы в интернете 24 х 7, а удобная панель администратора легко и
                            быстро их обрабатывать. Гибкая структура позволяет расширить ассортимент
                            продукции и добавлять новые способы оплаты и доставки.
                        </p>
                        @*<p class="ul-title">Интернет магазин уже содержит:</p>
                    <ul>
                        <li>Каталог продукции</li>
                        <li>Акции</li>
                        <li>Рекомендуемые товары</li>
                        <li>Корзину</li>
                        <li>Онлайн-платежи</li>
                        <li>Расчет стоимости доставки</li>
                    </ul>*@
                    </div>
                </div>

            </div>
        </div>        
    </section>


    <section class="tabs-all shop-tabs" role="tab">
        <input id="tab__1" type="radio" name="tabs" @(ViewBag.selectedTab=="template"?"checked='checked'":"") />
        <input id="tab__2" type="radio" name="tabs" @(ViewBag.selectedTab=="create"?"checked='checked'":"") />
        <input id="tab__3" type="radio" name="tabs" @(ViewBag.selectedTab=="dev"?"checked='checked'":"")/>

        <div class="label-wrapper">
            <label for="tab__1" id="tab__l1">Готовые решения</label>
            <label for="tab__2" id="tab__l2">Создание сайта</label>
            <label for="tab__3" id="tab__l3">Разработка сайта</label>
        </div>

        <div class="tabs_content">

            <div id="tab__c1">
                <div class="tab-inner-content">
                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div>@await Component.InvokeAsync("ProductCategory", new { category = "Интернет-магазин" })</div>
                    </div>
                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <h4>Базовая функциональность</h4>
                                            <div class="list-wrap">
                                                <ul>
                                                    <li>Домен на 1 год</li>
                                                    <li>Хостинг на 1 год</li>
                                                    <li>Личный кабинет покупателя</li>
                                                    <li>Сортировка товаров</li>
                                                    <li>Дизайн</li>
                                                    <li>Фильтрация</li>
                                                    <li>Несколько цен товара</li>
                                                    <li>Выбор способа доставки</li>
                                                    <li>Форма обратной связи</li>
                                                    <li>Корзина</li>
                                                    <li>Расчет стоимости доставки</li>                                                   
                                                </ul>
                                                <ul>
                                                    <li>Онлайн-платежи</li>
                                                    <li>Рекомендуемые товары</li>
                                                    <li>Акции</li>
                                                    <li>Сравнение товаров</li>
                                                    <li>Рейтинг товаров</li>
                                                    <li>Подписка на новости</li>
                                                    <li>Новости</li>
                                                    <li>Выбор способа оплаты</li>
                                                    <li>Слайдер</li>
                                                    <li>Отзывы</li>
                                                    <li>Базовая SEO оптимизация</li>
                                                </ul>
                                                <ul>   
                                                    <li>Админка</li>
                                                    <li>Наглядный мониторинг работы магазина</li>
                                                    <li>Учет складских остатков</li>
                                                    <li>Несколько цветов(вариантов)товара</li>
                                                    <li>Удобное перемещение по категориям</li>
                                                    <li>??Уведомления о смене статуса заказа</li>
                                                    <li>Массовая загрузка товаров</li>
                                                    <li>Мультиязычность</li>
                                                    <li>
                                                        Дизайн/Настройка
                                                        <span>
                                                            Выбор из стандартного набора блоков
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Обратный звонок</li>
                                                <li>Блог</li>
                                                <li>Расширенный поиск по каталогу</li>
                                                <li>Социальные кнопки</li>
                                                <li>Авторизация через соц-сети</li>
                                                <li>!!! Интеграция с сервисом с Яндекс маркет!!!</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsTemplatePartialView")
                </div>
            </div> @*tab__c1*@
            <div id="tab__c2">
                <div class="tab-inner-content">

                    <div class="title-description-wrap">
                        <div class="container">
                            <div class="title-description">
                                <div class="content-item">
                                    <p>
                                        длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                        линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                        линныйлинный линный линныйлинныйлинный
                                    </p>

                                </div>
                                <div class="description-price">@await Component.InvokeAsync("PriceTimeDemo")</div>
                            </div>
                        </div>
                    </div>
                    <div class="service-sites-wrap">
                        <div class="container">
                            <div class="service-sites-accordion">
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Базовая функциональность</h2>
                                        <div class="service-sites-content">
                                            <div class="list-wrap">
                                                <ul>
                                                    <li>Домен на 1 год</li>
                                                    <li>Хостинг на 1 год</li>
                                                    <li>Личный кабинет покупателя</li>
                                                    <li>Сортировка товаров</li>
                                                    <li>Дизайн</li>
                                                    <li>Фильтрация</li>
                                                    <li>Несколько цен товара</li>
                                                    <li>Выбор способа доставки</li>
                                                    <li>Форма обратной связи</li>
                                                    <li>Корзина</li>
                                                    <li>Расчет стоимости доставки</li>                                                    
                                                </ul>
                                                <ul>
                                                    <li>Онлайн-платежи</li>
                                                    <li>Рекомендуемые товары</li>
                                                    <li>Акции</li>
                                                    <li>Сравнение товаров</li>
                                                    <li>Рейтинг товаров</li>
                                                    <li>Подписка на новости</li>
                                                    <li>Новости</li>
                                                    <li>Выбор способа оплаты</li>
                                                    <li>Слайдер</li>
                                                    <li>Отзывы</li>
                                                    <li>Базовая SEO оптимизация</li>
                                                </ul>
                                                <ul>
                                                    <li>Админка</li><li>Наглядный мониторинг работы магазина</li>
                                                    <li>Учет складских остатков</li>
                                                    <li>Несколько цветов(вариантов)товара</li>
                                                    <li>Удобное перемещение по категориям</li>
                                                    <li>??Уведомления о смене статуса заказа</li>
                                                    <li>Массовая загрузка товаров</li>
                                                    <li>Мультиязычность</li>
                                                    <li>
                                                        Дизайн/Настройка
                                                        <span>
                                                            Адаптируется под заказчика в рамках стандартной сетки
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <i></i>
                                        <h2 class="title_block">Возможные настройки</h2>
                                        <div class="service-sites-content">
                                            <ul class="list">
                                                <li>Калькулятор</li>
                                                <li>Обратный звонок</li>
                                                <li>Блог</li>
                                                <li>Расширенный поиск по каталогу</li>
                                                <li>Социальные кнопки</li>
                                                <li>Авторизация через соц-сети</li>
                                                <li>!!! Интеграция с сервисом с Яндекс маркет!!!</li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsCreatePartialView")
                </div>
            </div> @*tab__c2*@
            <div id="tab__c3">
                <div class="tab-inner-content">

                    <div class="container">
                        <div class="title-description">
                            <div class="content-item">
                                <p>
                                    длинный текст,что б абасрацца прям был длинный линный линный линный линный
                                    линный линный линный линныйлинный линныйлинный линныйлинныйлинный линныйлинныйлинный
                                    линныйлинный линный линныйлинныйлинный
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="content-item">
                            <div class="content-item">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="steps-create-wrapper">
                    @Html.Partial("_StepsDevelopPartialView")
                </div>
            </div> @*tab__c3*@
        </div>
    </section>




    @await Component.InvokeAsync("ExamplesSites", new { category = "Интернет-магазин" })
    @await Component.InvokeAsync("OrderForm")
    <section class="footer">
        @Html.Partial("_FooterPartialView")
    </section>
</div>



