@model IEnumerable<Post>

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Блог";
}



@section ControlPanel{
<div class="btn"><a asp-controller="Blog" asp-action="CreatePost">Создать пост</a></div>
}
    <h3>Список всех постов</h3>

    <table class="table-admin">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Виден?</th>
            <th></th>
        </tr>
        @foreach (var post in @Model)
        {
            <tr>
                <td>@post.PostID</td>
                <td><a asp-controller="Blog" asp-action="EditPost" asp-route-postID="@post.PostID">@post.Title</a></td>
                <td>@post.Category</td>
                <td>@post.Published</td>
                
                <td><a asp-controller="Blog" asp-action="DeletePost" asp-route-postID="@post.PostID">Удалить</a></td>
            </tr>
        }
    </table>

