@model IEnumerable<Order>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Все Заказы";
    ViewData["Robots"] = "none";
}


    <h3>Список всех заказов</h3>

    <div class="order-table">
        <table class="table-admin">
            <tr>
                <th width="3%">ID</th>
                <th width="5%">Дата</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Комментарий</th>
                <th>Файлы</th>
                <th>Заметки</th>
                <th width="2.5%">CRM</th>
                <th width="2.5%"></th>
            </tr>
            @foreach (var order in @Model)
            {
                <tr>
                    <td><a asp-controller="Order" asp-action="Order" asp-route-orderId="@order.OrderID">@order.OrderID</a></td>
                    <td><a asp-controller="Order" asp-action="Order" asp-route-orderId="@order.OrderID">@order.DateOrder.ToString("D")<br />@order.DateOrder.ToString("T")</a></td>
                    <td><a asp-controller="Order" asp-action="Order" asp-route-orderId="@order.OrderID">@order.Name</a></td>
                    <td>@order.Email</td>
                    <td class="admin-descriptions">@order.Comment</td>
                    <td><a class="client-file"href="#"> @order.File</a></td>
                    <td>@order.Note</td>
                    <td><input type="checkbox" disabled asp-for="@order.AddCRM"></td>
                    <td>@order.UrlOrder</td>

                    @*<td><a href="#" class="btn-del">Х</a></td>*@
                </tr>
            }
        </table>
    </div>

