@model IEnumerable<Portfolio>

@*портфолио на главной*@

@if (ViewBag.PortfolioIndex == true)
{

    <div class="index-portfolio-galery">
        <div id="all" class="big">
            <div id="allcontent">
                <div id="maincontent">
                    @foreach (var site in Model)
                    {
                        <div class="portfolio">
                            <img src="~/Files/Portfolio/Image/Preview/@site.Image" alt="@site.Title"><br>
                            <span class="txt">
                                @site.Title
                                <a class="txt-link" asp-controller="Portfolio" asp-action="WebSite" asp-route-PortfolioID="@site.PortfolioID">Подробнее</a>
                            </span>

                            @*<div class="ombra"></div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
        <div class="index-portfolio-galery small hidden">
            @*Портфолио для меленьких экранов*@
            <div class="portfolio-galery-wrap">
                <div class="portfolio-galery-row">
                    @foreach (var site in Model)
                    {
                        <div class="view view-second">
                            <img src="~/Files/Portfolio/Image/Preview/@site.Image" alt="@site.Title">
                            <div class="mask"></div>
                            <div class="content">
                                <h2>Hover Style #2</h2>
                                <p>Some description</p>
                                <a class="info" asp-controller="Portfolio" asp-action="WebSite" asp-route-PortfolioID="@site.PortfolioID">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>



        </div>

}
else
{
    <div class="example-sites-content">
        <h2 class="title-section ">@ViewBag.PortfolioExample</h2>
        <div class="example-wrapper">
            @foreach (var site in Model)
                {
                <div class="view view-second">
                    <img src="~/Files/Portfolio/Image/Preview/@site.Image" alt="@site.Title" />
                    <div class="mask"></div>
                    <div class="content">
                        <h2>@site.Title</h2>
                        <p>@site.Link</p>
                        <a asp-action="WebSite" asp-controller="Portfolio" asp-route-PortfolioID="@site.PortfolioID" class="info">Узнать больше</a>
                    </div>
                </div>
            }
        </div>
    </div>
}



