@model IEnumerable<Service>

@{
    ViewData["Title"] = "Весь перечень услуг веб студии OlxaWeb ";
    ViewData["Description"] = "Мы предоставляем такие услуги в веб-разработке как: создание, разработка, продвижение, наполнение и многое другое ";
}



<div class="all-service-wrap">
    <h1>Услуги предоставляемые OlxaWeb</h1>
    <section class="catalog">
        <div class="container">
            <div class="accordion">
                <ul>
                    @foreach (string category in @ViewBag.CategoryService)
                    {
                        <li>
                            <input type="checkbox">
                            <i></i>
                            <h2 class="title_block">  @category</h2>
                            <div class="content">
                                <table class="service">
                                    @foreach (var service in Model)
                                    {
                                        if (category == service.Category)
                                        {
                                            <tr>
                                                <td>@service.Title</td>
                                                <td>@service.Price</td>
                                                <td align="right">
                                                    @*<a href="#@service.ServiceID" class="btn btn-ghost">
                                                            Подробнее
                                                        </a>*@
                                                    <label class="popup_link" for="@service.ServiceID">Подробнее</label>
                                                </td>
                                                @*<td class="add">+</td>*@
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>


    <section>
        @await Component.InvokeAsync("OrderForm")
    </section>
</div>
@*модальное окно*@
@foreach (var serviceModal in Model)
{
    <input class="modal_check" id="@serviceModal.ServiceID" type="checkbox" hidden>
    <div class="modal">
        <div class="modal_hold">
            <label class="modal_close" for="@serviceModal.ServiceID"></label>
            @Html.Raw(serviceModal.Description)
        </div>

        <label class="modal_overlay" for="@serviceModal.ServiceID"></label>
    </div>
    @*<a href="#" class="overlay_det" id="@serviceModal.ServiceID"></a>
        <div class="popup_det">
           @serviceModal.Description
            <a class="close_det" title="Закрыть" href=""></a>
        </div>*@

}









