@model IEnumerable<Service>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Услуги";
    ViewData["Robots"] = "none";
}

@section ControlPanel{
    <div class="btn">
        <a asp-action="CreateService" asp-controller="Service">Добавить услугу</a>
    </div>
}

<h3>Список всех услуг</h3>


    <table class="table-admin">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Позиция</th>
            <th>Видно?</th>
        </tr>
        @foreach (var service in @Model)
        {
            <tr>
                <td>@service.ServiceID</td>
                <td><a asp-controller="Service" asp-action="EditService" asp-route-serviceID="@service.ServiceID">@service.Title</a></td>
                <td>
                    <a class="description-window" href="#">
                        &#9786;
                        <div class="overlay"><p>@service.Description</p></div>
                    </a>
                </td>
                @*<td class="amin-descriptions"><a asp-controller="Service" asp-action="EditService" asp-route-serviceID="@service.ServiceID">@service.Description</a></td>*@
                <td>@service.Category</td>
                <td><a asp-controller="Service" asp-action="EditService" asp-route-serviceID="@service.ServiceID">@service.Price</a></td>
                <td>@service.SortingWeight</td>
                <td class="@(service.Published == true ? "post-published" : "post-no-published")"><a asp-controller="Service" asp-action="EditService" asp-route-serviceID="@service.ServiceID"></a></td>
            </tr>
        }
    </table>
