@model Product
@{
    ViewData["Title"] = Model.Category + " всего: " + Model.Price +" рублей " + ". Купить в веб студии OlxaWeb";
    ViewData["Description"] = "Купить готовый сайт. " + Model.Category + ", в стоимость входит: система управления сайтом, дизайн сайта, базовое наполнение, SEO оптимизация.";
}

<div class="product-item-wrapper">
    @*<div class="product-item-title"></div>*@
    <div class="container">
        <div class="product-item-content">
            <div class="product-item-img">
                <img src="~/images/blog/post01.jpg" alt="картинка" />
            </div>
            <div class="product-item-description">
                <h1>
                    @Model.Name
                </h1>
                <p>
                    @Model.Description
                </p>
                <div class="product-item-info">
                    <div class="time">
                        <h3>Срок</h3>
                        <span>@Model.TimeDevelop</span>
                    </div>
                    <div class="price">
                        <h3>Цена</h3>
                        <span>@Model.Price</span>
                    </div>
                </div>
                <div class="product-item-link">
                    <div class="btn btn-ghost-more">
                        Купить!
                    </div>
                    <div class="demo">
                        <a href="@Model.DemoLink">Демо</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-sites-wrap">
        <div class="container">
            <div class="service-sites-accordion">
                <ul>
                    <li>
                        <input type="checkbox">
                        <i></i>
                        <h2 class="title_block">Базовая функциональность</h2>
                        <div class="service-sites-content">
                            <div class="list-wrap">
                                <ul>
                                    <li>Домен на 1 год</li>
                                    <li>Хостинг на 1 год</li>
                                    <li>Личный кабинет покупателя</li>
                                    <li>Сортировка товаров</li>
                                    <li>Дизайн</li>
                                    <li>Фильтрация</li>
                                    <li>Несколько цен товара</li>
                                    <li>Выбор способа доставки</li>
                                    <li>Форма обратной связи</li>
                                    <li>Корзина</li>
                                    <li>Расчет стоимости доставки</li>
                                </ul>
                                <ul>
                                    <li>Онлайн-платежи</li>
                                    <li>Рекомендуемые товары</li>
                                    <li>Акции</li>
                                    <li>Сравнение товаров</li>
                                    <li>Рейтинг товаров</li>
                                    <li>Подписка на новости</li>
                                    <li>Новости</li>
                                    <li>Выбор способа оплаты</li>
                                    <li>Слайдер</li>
                                    <li>Отзывы</li>
                                    <li>Базовая SEO оптимизация</li>
                                </ul>
                                <ul>
                                    <li>Админка</li>
                                    <li>Наглядный мониторинг работы магазина</li>
                                    <li>Учет складских остатков</li>
                                    <li>Несколько цветов(вариантов)товара</li>
                                    <li>Удобное перемещение по категориям</li>
                                    <li>??Уведомления о смене статуса заказа</li>
                                    <li>Массовая загрузка товаров</li>
                                    <li>Мультиязычность</li>
                                    <li>
                                        Дизайн/Настройка
                                        <span>
                                            Адаптируется под заказчика в рамках стандартной сетки
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox">
                        <i></i>
                        <h2 class="title_block">Возможные настройки</h2>
                        <div class="service-sites-content">
                            <ul class="list">
                                <li>Калькулятор</li>
                                <li>Обратный звонок</li>
                                <li>Блог</li>
                                <li>Расширенный поиск по каталогу</li>
                                <li>Социальные кнопки</li>
                                <li>Авторизация через соц-сети</li>
                                <li>!!! Интеграция с сервисом с Яндекс маркет!!!</li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>

</div>
