@model Product
@{
    ViewData["Title"] = Model.Name;
}

<div class="product-item-wrapper">
    @*<div class="product-item-title"></div>*@
    <div class="container">
        <div class="product-item-content">
            <div class="product-item-img">
                <img src="~/images/blog/post01.jpg" alt="картинка" />
            </div>
            <div class="product-item-description">
                <h2>
                    @Model.Name
                </h2>
                <p>
                    @Model.Description
                </p>
                <div class="product-item-info">
                    <div class="time">
                        <h3>Срок</h3>
                        <span>@Model.TimeDevelop</span>
                    </div>
                    <div class="price">
                        <h3>Цена</h3>
                        <span>@Model.Price</span>
                    </div>
                </div>
                <div class="product-item-link">
                    <div class="btn btn-ghost-more">
                        Купить
                    </div>
                    <div class="demo">
                        <a href="@Model.DemoLink">Демо</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
